*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Mint Grotesk Trial';
    src: url(../fonts/Mint-Grotesk-Trial/MintGroteskBlackTrial.otf);
    src: url(../fonts/Mint-Grotesk-Trial/MintGroteskRegularTrial.otf);
}

html{
    font-family:'Mint Grotesk Trial';
}
.container{
    padding: 61px 30px;
}

.sign-up__heading{
    font-weight: 900;
    font-size: 36px;
    line-height: 47px;
    color: #080613;
}

.sign-up__subheading{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #080613;
}

.sign-up__input-label{
    font-size: 14px;
    line-height: 18px;
    color: #080613;
}

input{
    width: 100%;
    padding:9px;
    border-radius: 100px;
    border: none;
}

input{
    background-color: #F8F7F8;
    outline: none;
}

label{
    font-size: 13px;
    font-weight: 200;
    line-height: 17px;
    color: rgba(8, 6, 19, 0.675241);
}

.btn{
    color:white;
    background-color: #ff4242;
    text-decoration: none;
    margin-top: 30px;
    padding:9px;
    border-radius: 100px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
}