*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Mint Grotesk Trial';
    src: url(../fonts/Mint-Grotesk-Trial/MintGroteskBlackTrial.otf);
    src: url(../fonts/Mint-Grotesk-Trial/MintGroteskRegularTrial.otf);
}

html{
    font-family:'Mint Grotesk Trial';
}
.container{
    padding: 61px 30px;
    background: black;
    background-image: url(../img/Assignment/image3.jpg);
    /* background-image: url(../img/Assignment/image3.jpg); */
    background: url(../img/Assignment/image3.jpg), linear-gradient(90deg, black);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100vh;
}

.container__heading{
    font-weight: 900;
    font-size: 36px;
    line-height: 47px;
}

.container__subheading{
    font-size: 18px;
    line-height: 23px;
}

.container-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.container__get-started{
    background-color: #FF4242;
    border-radius: 100px;
    padding: 18px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow{
    color:#FF4242;
    padding: 7px;
    background-color: #fff;
    border-radius: 50px;
}

.login{
    color: white;
    text-decoration: none;
}